

.container-main-dogAdoptForm {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.dogAdoptFormHeader {
  z-index: 99;
  width: 100%;
  height: 5rem;
  border-radius: 5px;
  font-size: 36px;
  opacity: 1;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dogAdoptFormHeader .localName {
  flex-grow: 1;
  text-align: center;
}

.dogAdoptFormHeader button {
  background-color: #ff6666;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.dogAdoptFormHeader button:hover {
  background-color: #ff3333;
}

.asideDogAdoptForm {
  width: 20%;
  max-width: 20vh;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
}

.asideDogAdoptForm-content {
  font-size: 16px;
  padding: 1rem;
  text-align: center;
  margin: 0.5rem 0;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.asideDogAdoptForm-content:hover {
  background-color: lightcoral;
}

.dogAdoptionForm {
  margin: 1rem;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.dogAdoptionFormSelect,
.dogAdoptionFormLabel,
.dogAdoptionFormInput {
  padding: 1rem;
}

.dogAdoptionFormCheckbox {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.dogAdoptionFormInput {
  display: flex;
  flex-direction: column;

}

.dogAdoptionFormInput label {
  margin-top: 0.5rem;

}

.dogAdoptionFormInput input {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}


@media (max-width: 1200px) {
  .dogAdoptFormHeader {
    font-size: 32px;
  }

  .asideDogAdoptForm {
    width: 25vh;
  }
}

@media (max-width: 992px) {
  .dogAdoptFormHeader {
    font-size: 28px;
  }

  .asideDogAdoptForm {
    width: 30vh;
  }

  .dogAdoptionForm {
    width: 90%;
  }

  .asideDogAdoptForm-content {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .dogAdoptFormHeader {
    font-size: 24px;
  }

  .asideDogAdoptForm {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .asideDogAdoptForm-content {
    width: 90%;
    margin: 0.5rem 0;
    font-size: 14px;
    padding: 0.5rem;
  }

  .dogAdoptionForm {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .dogAdoptFormHeader {
    font-size: 20px;
  }

  .asideDogAdoptForm-content {
    font-size: 12px;
  }

  .asideDogAdoptForm-content:hover {
    font-size: 14px;
  }

  .dogAdoptionForm {
    width: 100%;
  }
}
.dogAdoptionFormOwnerInput {
  padding: 0.5rem;
  width: 60%;
  margin: 0.4rem;
}