* {
  font-family: cursive;
}

.container-main-dogCalendar {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.dogCalendarHeader {
  z-index: 99999999;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  font-size: 3rem;
  opacity: 1;
  color: black;
  align-items: center;

  padding: 0 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.dogCalendarHeader:focus {
  outline: none;
}

.asideDogCalendar {
  width: 20%;
  max-width: 20vh;

  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
}

.asideDogCalendar-content {

  font-size: 16px;
  padding: 1rem;

  text-align: center;
  margin: 0.5rem 0;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.asideDogCalendar-content:hover {
  background-color: #ff6666;
}

.dogCalendar {
  width: 80%;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
}

.dogCalendarDate {
  display: flex;
  justify-content: center;
}

.dogCalendarWeek {
  flex-direction: row;
}

.dogCalendarDay {
  margin: 1rem;
  padding: 3rem;
  flex-direction: column;
}

.selected {
  background-color: blue;
  color: white;
}

/* Media queries */
@media screen and (max-width: 1200px) {
  .dogCalendar {
    justify-content: center;
  }

  .asideDogCalendar-content {
    font-size: 2rem;
  }
}

@media screen and (max-width: 992px) {
  .dogCalendarHeader {
    font-size: 2.5rem;
  }

  .asideDogCalendar {
    width: 200px;
    height: auto;
  }

  .asideDogCalendar-content {
    font-size: 2rem;
  }

  .asideDogCalendar-content:hover {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .dogCalendarHeader {
    font-size: 2.5rem;
  }

  .asideDogCalendar {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .asideDogCalendar-content {
    width: 90%;
    margin: 0.5rem 0;
    font-size: 2rem;
  }

  .dogCalendar {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .dogCalendarHeader {
    font-size: 2rem;
  }

  .asideDogCalendar-content {
    font-size: 1.5rem;
  }

  .asideDogCalendar-content:hover {
    font-size: 2rem;
  }
}
.dogCalendarButton {
  background-color: #ff6666;
}