* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: cursive;
}

.container-main-loginPage {
  flex-direction: column;
  min-height: 100vh; /* Sprawia, że kontener zajmuje całą wysokość widoku */

  background-image: url("https://www.napo.pet/_next/image?url=https%3A%2F%2Fumbraco.napo.pet%2Fmedia%2Fcarj2bm4%2Fdog-cutout-labrador-confetticrown.png&w=3840&q=90&dpl=dpl_DiWWnXGRnzGteuK5GXh6Qzvge1ha");
  background-size: cover;

}

.loginPage {


}

.login-form {
  width: 100%;
  max-width: 30rem; /* Maksymalna szerokość formularza */
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.7); /* Przezroczyste tło formularza */
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Cień dla efektu głębi */
}

.login-form h1 {
  font-size: 2rem; /* Zmniejszenie rozmiaru nagłówka na mniejszych urządzeniach */
  text-align: center;
}

.input-box {
  margin: 1.5rem 0; /* Mniejszy margines między polami wejściowymi */
}

.input-box input {
  width: 100%;
  height: 3rem; /* Mniejsza wysokość pola wejściowego */
  border: none;
  border-radius: 20px;
  font-size: 1rem; /* Mniejsza czcionka dla lepszego dopasowania do mniejszych ekranów */
  padding: 1rem;
  background-color:     #a4a3a3; /* Przezroczyste tło pola wejściowego */
}

.login-btn {
  width: 100%;
  height: 3rem;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  color: black;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer; /* Kursor zmienia się na wskaźnik na przycisku */
  text-align: center;
}

.remember-forgot {
  display: flex;
  justify-content: space-between; /* Równomierne rozłożenie elementów */
}

.login-btn:hover {
  background-color:    #a4a3a3; /* Przejście do ciemniejszego tła po najechaniu kursorem */
}

a {
  text-decoration: none;
  color: black;
  text-transform: none;
}

.error {
  display: flex;
  justify-content: center;
  color: red; /* Kolor czerwony dla komunikatów o błędach */
}
