* {
  font-family: cursive;
}

.container-main {
  max-width:100%;
  display: flex;
  flex-wrap: wrap;




}
.userPanelHeader {
  z-index: 9999999;
  width: 100%;
  height: 5rem;
  border-radius: 5px;
  font-size: 36px;
  opacity: 1;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.userPanelHeader:focus {
 outline: none;
}

.userNameAside {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.userNameAside-content {
  font-size: 16px;
  padding: 1rem;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;


  background-color: blue;
  justify-content: space-between;
}

.userNameAside-content:hover {
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
  padding: 1rem; /* Dodane, jeśli chcesz zachować padding po powiększeniu */
  background-color: lightcoral;
  font-size: 23px;

}


.userPanelMainContent {
  width: 175vh;
  display: flex;
  flex-wrap: wrap;
}


.userPanelDogCards {
  margin: 3rem;
  justify-content: space-evenly;

}
.userPanelDogCards {
  width: 300px;
  height: 300px;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.userPanelDogCards:hover {
  width: 300px;
  height: 300px;
  box-shadow: 5px 5px 5px 10px lightcoral;
}

img {
  width: 100%;
  height: 100%;
  transition: width 0.3s ease-out, height 0.3s ease-out;
}

.userPanelDogCards:hover img {
  width: 110%;
  height: 110%;
}

p {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;


}

